<h1>タスクの詳細</h1>
<div class="nav justify-content-end">
    <%=link_to '一覧へ', tasks_path, class: 'nav-link'%>
</div>
<table class="table table-hover">
    <tbody>
        <%# タスクID表示 %>
        <tr>
            <th><%=Task.human_attribute_name(:id)%></th>
            <td><%=@task.id%></td>
        </tr>
        <%# タスク名表示 %>
        <tr>
            <th><%=Task.human_attribute_name(:name)%></th>
            <td><%=@task.name%></td>
        </tr>
        <%# タスクの説明表示 %>
        <tr>
            <th><%=Task.human_attribute_name(:description)%></th>
            <td><%=auto_link(simple_format(h(@task.description), {}, sanitize: false, wrapper_tag: "div"))%></td>
        </tr>
        <%# タスク作成日時表示 %>
        <tr>
            <th><%=Task.human_attribute_name(:created_at)%></th>
            <td><%=@task.created_at%></td>
        </tr>
        <%# タスク更新日時表示 %>
        <tr>
            <th><%=Task.human_attribute_name(:updated_at)%></th>
            <td><%=@task.updated_at%></td>
        </tr>
    </tbody>
</table>
<%# 編集ボタン %>
<%=link_to '編集', edit_task_path, class: 'btn btn-primary mr-3'%>
<%# 削除ボタン %>
<%=link_to '削除', @task, method: :delete, data: { confirm: "タスク「#{@task.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger'%>
